.register-form{
    display: block;
    padding: 30px;
    margin: 100px auto;
    width: 300px;
    border: #eee solid 1px;
    border-radius: 5px;
}

.register-form .form-group .form-control{
    display: block;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    color: #333
}