@charset "utf-8";
/* CSS Document */

@font-face{ font-family:"RockWen"; src:url("./../fonts/rockwen.ttf"); }

/*========== Pre CSS ==========*/
*{ margin: 0; padding: 0; outline: none; }
body{ margin: 0; padding: 0; font-size: 14px; font-weight: normal; color: #333; font-family: 'Lato', sans-serif; background: #fff;}
p, a, span, table, th, tr, td, h1, h2, h3, h4, h5, h6, img, ul, ol, li{ margin: 0; padding: 0; font-family: 'Lato', sans-serif; }
a[href^=tel] { text-decoration:inherit; color: inherit; }
.btn{ outline: none!important; outline-color: transparent!important; }

/*========== Go To Top Section ==========*/
#back-top{ position: fixed; bottom: 100px; right: 10px; text-align: center;  z-index: 99999; }
#back-top a{ display: block; text-decoration: none; }
#back-top a .fa{ width: 40px; height: 40px; padding-top: 8px; font-size: 20px; border-radius: 5px; opacity: 1; color: #fff; background: #000; border: #000 solid 2px; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
#back-top a .fa:hover{ background: #fff; color: #000; }

/* Modal Body */
.modal-body .close{ position: absolute; top: 8px; right: -4px; transform: translate(-50%,-50%); opacity: 1; color: #000; }
.modal-body img{ width: 100%; }

/* Wrapper */
.wrapper{ position: relative; margin: 0; padding: 0; overflow: hidden; }

/*========== Header Section ==========*/
header{ position: relative; }
.header-top{ display: block; padding: 10px 0; background: #f6f6f8; }
.header-top-contact ul{ display: block; text-align: left; margin-top: 4px;  }
.header-top-contact ul li{ display: inline-block; float: none; margin-right: 20px; color: #878787; font-size: 14px; }
.header-top-contact ul li .fa{ margin-right: 5px; }

/* Header Social Media */
.header-social-media ul{ display: block; text-align: right; margin-top: 2px; }
.header-social-media ul li{ display: inline-block; float: none; margin-left: 5px; }
.header-social-media ul li a{ text-decoration: none; }
.header-social-media ul li a .fa{ display: flex; justify-content: center; align-items: center; width: 25px; height: 25px; border-radius: 50%; background: #878787; color: #fff; font-size: 12px; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; transition: all linear 0.3s; }
.header-social-media ul li:nth-child(1) a:hover .fa{ background: #3b5998 ; }
.header-social-media ul li:nth-child(2) a:hover .fa{ background: #C13584 ; }
.header-social-media ul li:nth-child(3) a:hover .fa{ background: #00acee; }
.header-social-media ul li:nth-child(4) a:hover .fa{ background: #3b5998 ; }

/* Header Login and Register */
.header-login-register ul{ display: block; text-align: right; }
.header-login-register ul li{ display: inline-block; float: none; margin-right: 5px; }
.header-login-register ul li a{ display: inline-block; padding: 5px 15px; background: #878787; border-radius: 3px; color: #fff; text-decoration: none; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; transition: all linear 0.3s; }
.header-login-register ul li:first-child a:hover{ background: #27ae60; }
.header-login-register ul :last-child a:hover{ background: #2980b9; }

/* Header Logo */
.header-middle{ display: block; padding: 15px 0; background: #fff; }
.header-middle .logo img{ width: 180px; height: auto; }

/* Header Navigation */
.navigation nav ul{ display: block; text-align: center; padding-top: 10px; }
.navigation nav ul li{ display: inline-block; float: none; margin: 0 15px; }
.navigation nav ul li a{ display: inline-block; border-radius: 5px; color: #878787; font-weight: 500; font-size: 16px; text-decoration: none; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; transition: all linear 0.3s; }
.navigation nav ul li a.btn-login{ background: #2ecc71; color: #fff; }
.navigation nav ul li a.btn-login:hover,
.navigation nav ul li a.active.btn-login{ background: #27ae60; color: #fff; }
.navigation nav ul li a.btn-register{ background: #3498db; color: #fff; }
.navigation nav ul li a.btn-register:hover,
.navigation nav ul li a.active.btn-register{ background: #2980b9; color: #fff; }
.navigation nav ul li a:hover{ color: #dd0031; }
.navigation nav ul li a.active{ color: #dd0031; }

/* Header Search Form  */
.header-search-form{ margin-top: 3px; }
.header-search-form .form-group{ position: relative; margin-bottom: 0; }
.header-search-form .form-group input::placeholder{ color: #878787; }
.header-search-form .form-group .form-control{ height: 40px; padding-right: 60px; border-radius: 0; border: #878787 solid 1px; color: #878787; }
.header-search-form .form-group .btn{ position: absolute; top: 0; right: 0; width: 50px; height: 100%; background: #878787; color: #fff; border-radius: 0; border: none; }

/* Header Cart Item */
.header-cart-item{ margin-top: 10px; text-align: right; }
.header-cart-item span{ color: #878787; font-size: 16px; }

/*========== Banner Section ==========*/
.banner{ position: relative; }
.banner-content{ position: relative; }
.banner-content img{ width: 100%; height: auto; }
.banner-content-item{ position: absolute; top: 50%; left: 115px; transform: translate(0,-50%); width: 100%; z-index: 9; }
.text-align-right{ position: absolute; top: 40%; left: 0; transform: translate(0,-50%); width: calc(100% - 115px); text-align: right; }
.banner-content-item h4{ color: #252525; font-size: 24px; font-weight: bold; }
.banner-content-item h2{ color: #252525; font-size: 48px; font-weight: bold; font-family: 'RockWen'; margin: 10px 0 20px; }
.banner-content-item a{ display: inline-block; padding: 10px 35px; font-size: 18px; background: #252525; border: #252525 solid 2px; color: #fff; font-weight: 700; text-decoration: none; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.banner-content-item a:hover{ color: #252525; background: transparent; }

/* Banner Nav Dots */
.banner .slick-dots{ bottom: 30%; }
.banner .slick-dots li button:before{ font-size: 14px; }

/*========== Category Sections ==========*/
.category{ display: block; padding: 50px 0; background: #fff; }
.category-product{ position: relative; background: #eaeaea; overflow: hidden; }
.category-product-1{ height: 708px; }
.category-product-2{ margin-bottom: 30px; height: 339px; }
.category-product-3{ height: 339px; }
.category-product-4{ height: 708px; }
.category-product img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; height: auto; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.category-product-4 img{ width: 160%; }
.category-product:hover img{ transform: translate(-50%,-50%) scale(1.2,1.2); }
.category-product a{ position: absolute; left: 50%; bottom: 30px; transform: translate(-50%,0); display: inline-block; padding: 10px 50px; background: #fff; color: #252525; border: #eaeaea solid 1px; box-sizing: border-box; box-shadow: 0 5px 10px -5px #666; text-decoration: none; font-size: 16px; text-transform: uppercase; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.category-product a:hover{ background: #252525; color: #fff; }

/*========== Popular Product Sections ==========*/
.popular-product{ display: block; padding: 50px 0 0; background: #fff; }
.popular-product-heading{ display: block; text-align: center; margin-bottom: 30px; }
.popular-product-heading h2{ position: relative; display: inline-block; margin-bottom: 10px; color: #252525; font-size: 24px; text-transform: uppercase; font-weight: 700;  }
.popular-product-heading h2::before{ content: ''; position: absolute; top: 50%; left: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.popular-product-heading h2::after{ content: ''; position: absolute; top: 50%; right: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.popular-product-heading h4{ color: #666; font-size: 20px; font-family: 'Satisfy', cursive; }
.popular-product-body{ margin: 0 -15px; width: calc(100% + 30); }
.popular-product-body .item{ margin: 0 15px; }
.product-content-item{ position: relative; margin-bottom: 30px; box-sizing: border-box; box-shadow: 0 5px 15px -10px rgba(0,0,0,0.3); -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.product-content-item:hover{ box-shadow: 0 5px 15px -10px rgba(0,0,0,1); }
.product-content-item .product-thumbnail{ position: relative; overflow: hidden; }
.product-content-item .product-thumbnail img{ width: 100%; height: auto; opacity: 0; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; -o-transition: all linear 0.5s; transition: all linear 0.5s; }
.product-content-item:hover .product-thumbnail img{ opacity: 1; transform: scale(1.2,1.2); }
.product-content-item .product-thumbnail .hover-layer{ position: absolute; top: 40%; left: 50%; transform: translate(-50%,-50%); opacity: 0; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.product-content-item:hover .product-thumbnail .hover-layer{ top: 53%; opacity: 1; }
.product-content-item .product-thumbnail .whishlist{ position: absolute; top: 15px; left: 15px; z-index: 9; cursor: pointer; color: #666; font-size: 24px; -webkit-transition: all linear 0.1s; -moz-transition: all linear 0.1s; -o-transition: all linear 0.1s; transition: all linear 0.1s; }
.product-content-item .product-thumbnail .whishlist:hover{ color: #dd0031; }
.product-content-item .product-thumbnail .discount-offer{ position: absolute; top: 15px; right: 15px; z-index: 9; display: flex; justify-content: center; align-items: center; width: 60px; height: 30px; text-align: center; background: #666; color: #fff; font-size: 14px; }
.product-content-item .product-thumbnail .discount-offer::before{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: -1; width: 130%; height: 80%; background: #666; clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 10% 50%, 0 0); }
.product-content-item .product-thumbnail .hover-layer ul li{ list-style: none; text-align: center; color: #fff; font-size: 0; }
.product-content-item .product-thumbnail .hover-layer ul li:first-child{ margin-bottom: 10px; }
.product-content-item .product-thumbnail .hover-layer ul li .button{ position: relative; overflow: hidden; display: block; width: 150px; height: 45px; cursor: pointer; background: #fff; color: #252525; font-size: 14px; border-radius: 30px; text-decoration: none; border: #eee solid 1px; box-sizing: border-box; box-shadow: 0 5px 10px -5px #666; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.product-content-item .product-thumbnail .hover-layer ul li .button .move-to-top{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 100%; text-align: center; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.product-content-item .product-thumbnail .hover-layer ul li .button .fa{ position: absolute; top: 130%; left: 50%; transform: translate(-50%,-50%); width: 100%; text-align: center; -webkit-transition: all linear 0.2s; -moz-transition: all linear 0.2s; -o-transition: all linear 0.2s; transition: all linear 0.2s; }
.product-content-item .product-thumbnail .hover-layer ul li .button:hover{ background: #252525; color: #fff; }
.product-content-item .product-thumbnail .hover-layer ul li .button:hover .move-to-top{ top: -50%; }
.product-content-item .product-thumbnail .hover-layer ul li .button:hover .fa{ top: 50%; }
.product-content-item .product-thumbnail .hover-layer ul li .add_to_cart_inline { padding: 0!important; border: none!important; }
.product-content-item .product-thumbnail .hover-layer ul li .add_to_cart_inline .del,
.product-content-item .product-thumbnail .hover-layer ul li .add_to_cart_inline .ins,
.product-content-item .product-thumbnail .hover-layer ul li .add_to_cart_inline .amount{ display: none; }
.product-content-item .product-details{ padding: 15px; min-height: 50px; }
.product-content-item .product-details h4 a{ margin-bottom: 5px; font-size: 16px; color: #252525; font-weight: 600; text-decoration: none; }
.product-content-item .product-details p del{ display: block; float: right; color: red; font-size: 14px; }
.product-content-item .product-details p ins{ display: block; text-decoration: none; }
.product-content-item .product-thumbnail .hover-layer ul li .button-ripple{ background-position: center; transition: background 1s; }
.product-content-item .product-thumbnail .hover-layer ul li .button-ripple:hover{ background-color: #252525; background-image: radial-gradient(circle, transparent 1%, #252525 1%); background-position: center; background-size: 15000%; }
.product-content-item .product-thumbnail .hover-layer ul li .button-ripple:active{ transition: background 0s; background-color: #fff; background-size: 100%; }

/* Nav Button */
.popular-product-body .slick-prev{ top: 35%; left: -40px; transform: translate(0, -50%); }
.popular-product-body .slick-next{ top: 35%; right: -25px; transform: translate(0, -50%); }
.popular-product-body .slick-prev:before{ content: "\f053"; font-family: 'Fontawesome'; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; font-size: 14px; background: #252525; color: #fff; }
.popular-product-body .slick-next:before{ content: "\f054"; font-family: 'Fontawesome'; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; font-size: 14px; background: #252525; color: #fff; }

/*========== Ads Sections ==========*/
.collection-product{ display: block; padding: 50px 0; background: #fff; }
.collection-product-content{ position: relative; overflow: hidden; }
.collection-product-image{ position: relative; overflow: hidden; }
.collection-product-image img{ width: 100%; height: auto; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.collection-product-content:hover .collection-product-image img{ transform: scale(1.2,1.2); }
.collection-product-short-info{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; }
.collection-product-short-info span{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); display: block; width: 100%; text-align: center; }
.collection-product-short-info span h4{ color: #fff; font-size: 36px; font-weight: 700; }
.collection-product-short-info span h5{ color: #fff; font-size: 20px; font-weight: 400; }

/*========== Latest Product Sections ==========*/
.latest-product{ display: block; padding: 50px 0; background: #fff; }-product{ display: block; padding: 50px 0; background: #fff; }
.latest-product-heading{ display: block; text-align: center; margin-bottom: 30px; }-product-heading{ display: block; text-align: center; margin-bottom: 30px; }
.latest-product-heading h2{ position: relative; display: inline-block; margin-bottom: 10px; color: #252525; font-size: 24px; text-transform: uppercase; font-weight: 700;  }-product-heading h2{ position: relative; display: inline-block; margin-bottom: 10px; color: #252525; font-size: 24px; text-transform: uppercase; font-weight: 700;  }
.latest-product-heading h2::before{ content: ''; position: absolute; top: 50%; left: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }-product-heading h2::before{ content: ''; position: absolute; top: 50%; left: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.latest-product-heading h2::after{ content: ''; position: absolute; top: 50%; right: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }-product-heading h2::after{ content: ''; position: absolute; top: 50%; right: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.latest-product-heading h4{ color: #666; font-size: 20px; font-family: 'Satisfy', cursive; }-product-heading h4{ color: #666; font-size: 20px; font-family: 'Satisfy', cursive; }
.latest-content-body .product-content-item{ margin-bottom: 30px; }
.all-latest-product-link{ display: block; text-align: center; }
.all-latest-product-link a{ display: inline-block; padding: 10px 50px; background: #fff; color: #252525; border: #eaeaea solid 1px; box-sizing: border-box; box-shadow: 0 5px 10px -5px #666; text-decoration: none; font-size: 16px; text-transform: uppercase; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.all-latest-product-link a:hover{ background: #252525; color: #fff; }

/*========== Blog Sections ==========*/
.blog-section{ display: block; padding: 50px 0; background: #fff; }-product{ display: block; padding: 50px 0; background: #fff; }
.blog-section-heading{ display: block; text-align: center; margin-bottom: 30px; }-product-heading{ display: block; text-align: center; margin-bottom: 30px; }
.blog-section-heading h2{ position: relative; display: inline-block; margin-bottom: 10px; color: #252525; font-size: 24px; text-transform: uppercase; font-weight: 700;  }-product-heading h2{ position: relative; display: inline-block; margin-bottom: 10px; color: #252525; font-size: 24px; text-transform: uppercase; font-weight: 700;  }
.blog-section-heading h2::before{ content: ''; position: absolute; top: 50%; left: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }-product-heading h2::before{ content: ''; position: absolute; top: 50%; left: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.blog-section-heading h2::after{ content: ''; position: absolute; top: 50%; right: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }-product-heading h2::after{ content: ''; position: absolute; top: 50%; right: -80px; transform: translate(0,-50%); width: 60px; height: 2px; background: #252525; }
.blog-section-heading h4{ color: #666; font-size: 20px; font-family: 'Satisfy', cursive; }-product-heading h4{ color: #666; font-size: 20px; font-family: 'Satisfy', cursive; }
.blog-section-content-body .item{ margin: 0 15px; }
.blog-section-content{ position: relative; }
.blog-section-item-img{ position: relative; overflow: hidden; }
.blog-section-item-img img{ width: 100%; height: auto; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.blog-section-content:hover .blog-section-item-img img{ transform: scale(1.1,1.1); }
.blog-section-content .blog-section-item-details{ display: block; padding-top: 15px; }
.blog-section-content .blog-section-item-details h4 a{ color: #222; font-size: 16px; font-weight: 700; text-decoration: none; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.blog-section-content .blog-section-item-details h4 a:hover{ color: #dd0031; }
.blog-section-content .blog-section-item-details h5{ display: block; margin: 15px 0 10px; color: #888; font-size: 14px; }
.blog-section-content .blog-section-item-details h5 span{ color: #333; }
.blog-section-content .blog-section-item-details p{ color: #888; font-size: 16px; line-height: 26px; }
.blog-section-content .blog-section-item-img a{ position: relative; }
.blog-section-content .blog-section-item-img a::before{ content: ''; opacity: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 50px; height: 50px; border-radius: 50%; background: rgba(255,255,255,0.25); z-index: 999; -webkit-transition: all linear 0.5s; -moz-transition: all linear 0.5s; -o-transition: all linear 0.5s; transition: all linear 0.5s; }
.blog-section-content:hover .blog-section-item-img a::before{ animation: mouseover .4s linear; }

@keyframes mouseover {
    0% {
    	opacity: 0;
    	top: 20%;
    	left: 43%;
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    50% {
    	opacity: 1;
    	top: 20%;
    	left: 43%;
        transform: scale(5);
        -webkit-transform: scale(5);
    }
    100% {
    	opacity: 0;
    	top: 20%;
    	left: 43%;
        transform: scale(10);
        -webkit-transform: scale(10);
    }
}

/*========== Contact Section ==========*/
.contact{ padding: 100px 0; background: #f6f6f8; }
.contact-address-block .footer-logo img{ width: 100%; height: auto; margin-left: -10px; margin-bottom: 15px; }
.contact-address-block ul li{ list-style: none; color: #888; font-size: 15px; line-height: 36px; }
.contact-address-block ul li .fa{ width: 30px; }
.footer-menu-title h4{ color: #222; font-size: 18px; font-weight: 700; margin-bottom: 20px; }
.footer-menu-title ul li{ list-style: none; line-height: 36px; }
.footer-menu-title ul li a{ display: block; text-decoration: none; color: #888; font-size: 15px; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.footer-menu-title ul li a:hover{ margin-left: 5px; color: #dd0031; }

/*========== Footer Section ==========*/
.footer{ position: relative; margin: 0; padding: 20px 0; background: #0c0c0c; }
.footer .goto-top-container{ position: fixed; bottom: 36px;right: 30px; width: 40px; height: 40px; cursor: pointer; border-radius: 50%; background: #000; color: #fff; display: flex; justify-content: center; align-items: center; }
.copyright p{ color: #fff; font-size: 14px; text-align: center; }
.copyright p a{ color: #f80909; text-decoration: none; font-weight: 700; }

/* ====================================================================== */
/*================================ Rodal Modal ================================*/
/* ====================================================================== */
.rodal-mask{ background: rgba(0, 0, 0, 0.7) !important; }

/*========== Side Cart Item Section ==========*/
.side-cart-item{ position: fixed; bottom: 100px; right: 30px; z-index: 9; }
.side-cart-item-button{ display: flex; justify-content: center; cursor: pointer; align-items: center; width: 50px; height: 55px; background: #fff; color: #000; font-size: 18px; border-radius: 15px; box-sizing: border-box; box-shadow: 0 5px 20px -5px #000; }
.side-cart-item .item-count{ position: absolute; top: -15px; left: -15px; background: #000; color: #fff; padding: 5px 10px; border-radius: 15px; font-size: 14px; }
.side-cart-item .rodal{ left: inherit; right: 0; }
.side-cart-item .rodal-dialog{ left: inherit; right: 0; padding-right: 0; margin: inherit; border-radius: 0; width: 300px !important; height: 100% !important; }
.side-cart-item-heading{ font-size: 18px; font-weight: 700; border-bottom: #ccc solid 1px; padding-bottom: 10px; }
.side-cart-item-content{ overflow-y: scroll; height: calc(100% - 175px); list-style: none; }
.side-cart-item-no-content{ display: block; margin-top: 30px; text-align: center; font-size: 20px; line-height: 30px; padding: 0 30px; }
.side-cart-item-list{ display: flex; justify-content: space-between; align-items: center; padding: 15px; padding-left: 0; border-bottom: #ccc solid 1px; } 
.side-cart-item-image{ position: relative; width: 50px; height: auto; } 
.side-cart-item-image img{ width: 100%; height: auto; } 
.side-cart-item-title{ display: block; width: 140px; text-align: left; }
.side-cart-item-title h4{ font-size: 16px; margin-bottom: 5px; }
.side-cart-item-remove .fa{ cursor: pointer; color: red; }
.side-cart-item-checkout{ position: absolute; bottom: 0; left: 0; right: 0; padding: 10px; width: 100%; height: 145px; background: #fff; box-sizing: border-box; box-shadow: 0 -5px 10px -5px #ccc; }
.side-cart-item-checkout .table{ margin-bottom: 10px; }
.side-cart-item-checkout a{ display: block; padding: 10px 15px; background: #3498db; border-radius: 3px; text-transform: uppercase; color: #fff; text-align: center; text-decoration: none; }
.side-cart-item-checkout a:hover{ background: #2980b9; }

/*========== Quick View Modal Section ==========*/
.quick-view-modal .rodal .rodal-dialog{ width: 1000px !important; height: 530px !important; }
.quick-view-product-image{ position: relative; z-index: 999; }
.quick-view-product-image img{ width: 100%; height: auto; }
.quick-view-product-details h2{ font-size: 20px; color: #000; font-weight: 700; }
.content .quick-view-product-details h2{ font-size: 20px; }
.quick-view-product-details h4{ margin: 10px 0 5px; color: #000; font-weight: 700; }
.quick-view-product-details .product-category-info{ margin: 15px 0; }
.quick-view-product-details .product-category-info h4{ margin-bottom: 10px; font-weight: 400; }
.quick-view-product-details .product-tags-info h4{ margin-bottom: 10px; font-weight: 400; }

/*========== Slider Plugins ==========*/
#owl-demo .owl-buttons{ display: none; }
#owl-demo .owl-pagination { position: absolute; left: 50%; top: 80%; transform: translate(-50%,-50%); z-index: 9; }
#owl-demo .owl-pagination .owl-page span{ width: 15px; height: 15px; border-radius: 50%; background: #252525; border: #252525 solid 3px; opacity: 1; }
#owl-demo .owl-pagination .active span{ background: #fff; }

#owl-demo1 .owl-pagination{ display: none }
#owl-demo1 .owl-buttons .owl-prev{ position: absolute; left: -30px; top: 45%; transform: translate(-50%,-50%); z-index: 99999; font-family: 'FontAwesome'; text-align: center; width: 40px; height: 40px; background: #252525; color: #fff; font-size: 24px; font-weight: 400; border-radius: 0; opacity: 1; padding-right: 14px; padding-top: 0; border: #fff solid 1px; box-sizing: border-box; box-shadow: 0px 0px 15px -5px #666; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
#owl-demo1 .owl-buttons .owl-next{ position: absolute; right: -70px; top: 45%; transform: translate(-50%,-50%); z-index: 99999; font-family: 'FontAwesome'; text-align: center; width: 40px; height: 40px; background: #252525; color: #fff; font-size: 24px; font-weight: 400; border-radius: 0; opacity: 1; padding-left: 10px; padding-top: 0; border: #fff solid 1px; box-sizing: border-box; box-shadow: 0px 0px 15px -5px #666; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
#owl-demo1 .owl-buttons .owl-prev:hover,
#owl-demo1 .owl-buttons .owl-next:hover{ background: #dd0031; color: #fff; }

#owl-demo2 .owl-pagination{ display: none }
#owl-demo2 .owl-buttons{ opacity: 0; }
.blog-section-content-body:hover #owl-demo2 .owl-buttons{ opacity: 1; }
#owl-demo2 .owl-buttons .owl-prev{ position: absolute; left: -30px; top: 45%; transform: translate(-50%,-50%); z-index: 99999; font-family: 'FontAwesome'; text-align: center; width: 40px; height: 40px; background: #252525; color: #fff; font-size: 24px; font-weight: 400; border-radius: 0; opacity: 1; padding-right: 14px; padding-top: 0; border: #fff solid 1px; box-sizing: border-box; box-shadow: 0px 0px 15px -5px #666; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
#owl-demo2 .owl-buttons .owl-next{ position: absolute; right: -70px; top: 45%; transform: translate(-50%,-50%); z-index: 99999; font-family: 'FontAwesome'; text-align: center; width: 40px; height: 40px; background: #252525; color: #fff; font-size: 24px; font-weight: 400; border-radius: 0; opacity: 1; padding-left: 10px; padding-top: 0; border: #fff solid 1px; box-sizing: border-box; box-shadow: 0px 0px 15px -5px #666; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
#owl-demo2 .owl-buttons .owl-prev:hover,
#owl-demo2 .owl-buttons .owl-next:hover{ background: #dd0031; color: #fff; }

/*========== Content Pages ==========*/
.content-banner{ padding: 50px 0; text-align: center; background: url('../images/page-bg.jpg') no-repeat ; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.content-banner-content h4{ color: #fff; font-size: 14px; text-transform: uppercase; }
.content-banner-content h4 .fa{ display: inline-block; margin: 0 5px; }
.content-banner-content h4 a{ text-decoration: none; color: #dd0031; font-size: 14px; text-transform: uppercase; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; -o-transition: all linear 0.3s; transition: all linear 0.3s; }
.content-banner-content h4 a:hover{ color: #fff; }
.content-banner-content ul{ display: block; margin: 15px 0 0; text-align: center; }
.content-banner-content ul li{ display: inline-block; margin: 0 2px; float: none; width: 50px; height: 3px; background: #dd0031; border-radius: 5px; }
.content-banner-content ul li:nth-child(2){ position: relative; top: -3px; width: 10px; height: 10px; border-radius: 50%; }
.content-banner-content h3{ margin: 0; padding: 0; text-align: center; color: #fff; font-size: 24px; font-weight: bold; }

.content-block{ background: #fff; padding: 20px; height: auto; }
.content{ width: 100%; padding: 50px 0; background: #fff; }
.sectiontitleunderline{ display: block; width: 80px; height: 2px; margin: 0 0 30px; background: #333; }
.content h2{ text-transform: uppercase; font-size: 24px; color: #000; font-weight: 900; margin-bottom: 10px; }
.content h3{ text-transform: uppercase; font-size: 20px; color: #000; font-weight: 600; margin: 20px 0 10px; }

/*========== Page Not Found ==========*/
.page-not-found-block{ display: block; padding: 100px 0; text-align: center; }
.page-not-found-block h2{ color: #424851; font-size: 70px; font-weight: 700; margin-bottom: 5px; }
.page-not-found-block h4{ color: #424851; font-size: 30px; font-weight: 600; margin-bottom: 15px; }
.page-not-found-block a{ display: inline-block; padding: 15px 30px; background: #f13b3b; color: #fff; font-size: 16px; text-decoration: none; border-radius: 3px; }
.page-not-found-block a:hover{ background: #bb2525; }

/*========== Register Page ==========*/
.auth{ display: flex; flex: 1; align-items: center; min-height: 100vh; padding: 30px 0; background: -webkit-linear-gradient(left, #3931af, #00c6ff); }
.auth-info{ display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; min-height: 600px; color: #fff; }
.auth-info h2{ margin: 15px 0; font-size: 30px; }
.auth-info p{ font-size: 16px; }
.auth-info ul{ display: block; margin-top: 15px; text-align: center; }
.auth-info ul li{ display: inline-block; float: none; }
.auth-info ul li a{ text-decoration: none; }
.auth-info ul li a .fab{ display: flex; justify-content: center; align-items: center; background: #fff; font-size: 36px; margin: 0 5px; width: 60px; height: 60px; border-radius: 50%; box-sizing: border-box; box-shadow: 0 5px 15px -5px #000; -webkit-transition: all linear 0.3s; -moz-transition: all linear 0.3s; transition: all linear 0.3s; }
.auth-info ul li:nth-child(1) a .fab{ color: #C3002F; }
.auth-info ul li:nth-child(2) a .fab{ color: #20232a; }
.auth-info ul li:nth-child(3) a .fab{ color: #42b983; }
.auth-info ul li:nth-child(1) a:hover .fab{ background: #C3002F; color: #fff; }
.auth-info ul li:nth-child(2) a:hover .fab{ background: #20232a; color: #61dafb; }
.auth-info ul li:nth-child(3) a:hover .fab{ background: #42b983; color: #fff; }
.auth-info img{ -webkit-animation: mover 2s infinite  alternate; animation: mover 1s infinite  alternate; }
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.auth-content-block{ position: relative; z-index: 9; display: block; padding: 100px; padding-right: 0; min-height: 600px; background: #f8f9fa; border-top-left-radius: 10% 50%; border-bottom-left-radius: 10% 50%; }
.auth-content-block::before{ content: ''; position: absolute; top: 0; right: -100%; z-index: -1; width: 100%; height: 100%; background: #f8f9fa; }
.auth-content-block .form-title{ color: #495057; font-size: 30px; font-weight: 600; text-align: center; margin-bottom: 30px; }
.auth-content-block .form-group{ margin-bottom: 0; }
.auth-content-block .form-control{ height: 45px; margin-bottom: 15px; border-radius: 3px; }
.auth-content-block p{ color: #495057; font-size: 16px; }
.auth-content-block .btn{ float: right; margin-top: 15px; }
.login-content-block{ padding-top: 150px; }
.login-form-block{ display: block; margin: 0 auto; padding: 30px; width: 400px; text-align: center; border-radius: 15px; box-sizing: border-box; box-shadow: 0 5px 15px -5px #ccc; }
.login-form-block p{ color: #495057; font-size: 16px; }
.login-form-block .btn{ float: none; }

/*========== Product Arhive Page ==========*/
.filter-content h4{ display: block; padding: 10px 15px; background: #495057; color: #fff; font-size: 16px; }
.filter-content .radio{ display: block; }

/*========== Single Product Page ==========*/
/* Image Gallery */
.product-image-gallery{ position: relative; z-index: 9; }
.product-image-gallery-slides{ position: absolute; top: 50%; left: -51px;transform: translate(0,-50%); width: 50px; }
.product-image-gallery-slides img{ float: none; width: 50px; height: auto; cursor: pointer; }

.product-image-gallery-slides .slick-prev{ top: -35px; left: 30%; transform: rotate(90deg) translate(-20%, 0); }
.product-image-gallery-slides .slick-next{ top: inherit; bottom: -35px; left: 30%; transform: rotate(90deg) translate(-20%, 0); }
.product-image-gallery-slides .slick-prev:before,
.product-image-gallery-slides .slick-next:before{ color: #252525; }

/* Product Description */
.product-short-description{ position: relative; z-index: 1; }
.product-short-description h4{ margin-top: 15px; font-size: 16px; color: #333; font-weight: 700; margin-bottom: 10px; }
.product-short-description .price{ font-size: 20px; color: #000; }
.select-product-color{ display: block; margin-bottom: 20px; }
.select-product-color h4{ margin-bottom: 10px; font-size: 16px; color: #333; font-weight: 700; }
.select-product-color ul{ display: flex; margin-bottom: 0; text-align: left; }
.select-product-color ul li{ display: inline-block; float: none; width: 30px; height: 30px; margin-left: 0; margin-right: 5px; }
.select-product-color ul li span{ display: flex; justify-content: center; align-items: center; color: #fff; font-size: 14px; width: 30px; height: 30px; cursor: pointer; }

.add-to-cart-button-block{ padding-bottom: 20px; border-bottom: #eee solid 1px; }
.add-to-cart-button-block p{ margin-bottom: 10px; font-size: 14px; color: #27ae60; }
.add-to-cart-button-block .view-cart{ margin-left: 5px; }
.add-to-cart-button .btn{ padding: 10px 30px; }
.after-add-to-cart-button{ display: inline-block; }
.after-add-to-cart-button .btn{ padding: 10px 15px; }
.after-add-to-cart-button .cart-item{ position: relative; display: inline-block; background: #eee; border: #ccc solid 1px; width: 60px; height: 42px; text-align: center; margin: 0 -5px; color: #000; font-size: 14px; line-height: 38px; }
.add-to-whishlist-button{ margin-top: 15px; }
.add-to-whishlist-button .btn{ padding: 10px 30px; }

.product-category-info ul{ display: block; text-align: left; }
.product-category-info ul li{ display: inline-block; float: none; padding: 5px 15px; margin: 0 1px; background: #eee; color: #9b59b6; font-size: 14px; }

.product-tags-info ul{ display: block; text-align: left; }
.product-tags-info ul li{ display: inline-block; float: none; padding: 5px 15px; margin: 0 1px; background: #eee; color: #2980b9; font-size: 14px; }

/* Product Specification */
.product-specifications{ display: block; margin: 30px 0; padding: 30px 0; border-top: #eee solid 1px; border-bottom: #eee solid 1px; }
.product-specifications h4{ text-transform: uppercase; font-size: 20px; color: #666; font-weight: 600; margin-bottom: 15px; }

/* Related Product */
.related-product h4{ text-transform: uppercase; font-size: 20px; color: #666; font-weight: 600; margin-bottom: 15px; }
.related-product .slick-prev{ top: -45px; left: calc(100% - 100px); transform: translate(0, 0); }
.related-product .slick-next{ top: -45px; left: calc(100% - 55px); transform: translate(0, 0); }
.related-product .slick-prev:before{ content: "\f053"; font-family: 'Fontawesome'; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; font-size: 14px; background: #252525; color: #fff; }
.related-product .slick-next:before{ content: "\f054"; font-family: 'Fontawesome'; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; font-size: 14px; background: #252525; color: #fff; }

/*========== Shopping Cart Page ==========*/
.shopping-cart .table tbody tr td span{ display: flex; align-items: center; height: 125px; }
.shopping-cart .cart-product-image-td{ width: 130px; }
.shopping-cart .cart-product-image{ width: 100px; }
.shopping-cart .cart-product-image-td img{ width: 100%; }
.shopping-cart .cart-product-title a{ text-decoration: none; color: #333; font-size: 16px; }
.shopping-cart .cart-product-quantity .btn,
.shopping-cart .cart-product-remove .btn{ border-radius: 0; }
.shopping-cart .cart-product-remove-td{ width: 130px; }
.shopping-cart .shopping-cart-total .btn{ display: block; width: 100%; border-radius: 0; }

/*========== Shopping Wishlist Page ==========*/

/*========== Shopping Checkout Page ==========*/

/*========== Shopping Thanks Order Page ==========*/

/*=============== Responsive ===============*/
@media (max-width: 991px){ }
@media (max-width: 767px){  }